body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     /* по вертикали */
    background-color: rgba(0, 0, 0, 0.86);
}

.calc {
    display: block;
    height: 100%;
    width: 371px;
    margin: 0px;
    padding: 0px;
    font-size: 63px;
    color: white;
    font-family: Tahoma;
    transform: translateX(-275px);
}

div {
margin: 7.5px;
}

input[type="text"] {
    width: 920px;
    height: 55px;
    border-radius: 10px;
    padding: 6px 0 0 20px;
    font-weight: 500;
    font-size: 25px;
    color: black;
    font-family: Tahoma;
}

input[type="text"]::placeholder {
    font-size: 25px;
    font-weight: 500;
    font-family: Tahoma;
    color: black;
} 

input[type="text"]:hover {
    background-color: #8CB7C2;
    color: black;
}

#plusminus {
    display: flex;
    gap: 0 25px;
    margin: 0px;
}

input[name="plus"] {
    font-size: 30px;
    color: #FFEAE2;
    width: 435px;
    height: 60px;
    border-radius: 10px;
    background-color: #3D8657;
}

input[name="plus"]:hover {
    background-color: #8CB7C2;
    color: black;
}

input[name="minus"] {
    font-size: 30px;
    color: #FFEAE2;
    width: 435px;
    height: 60px;
    border-radius: 10px;
    background-color: #CC4349;
}

input[name="minus"]:hover {
    background-color: #8CB7C2;
    color: black;
}

input[value="Вычислить"] {
    width: 920px;
    height: 55px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #8CB7C2;
    font-size: 25px;
    border-color: #8CB7C2;
}

input[value="Вычислить"]:hover {
    background-color: #8CB7C2;
    color: black;
}

.result {
    width: 920px;
    height: 145px;
    background-color: white;
}

.result:hover {
    background-color: #8CB7C2;
    color: black;
}

#res, #res2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    font-family: Tahoma;
    color: black;
}
